<blockquote class="blockquote">
    <p class="mb-0">{{{ quoteText }}}If you want a picture of the future, imagine a boot stamping on a human face—for ever.</p>
    <footer class="blockquote-footer">{{{ quoteSource }}}George Orwell, <cite title="Source Title">1984</cite></footer>
</blockquote>
