<blockquote class="blockquote blockquote-reverse">
  <p class="mb-0">A really efficient totalitarian state would be one in which the all-powerful executive of political bosses and their army of managers control a population of slaves who do not have to be coerced, because they love their servitude.</p>
  <footer class="blockquote-footer"> Aldous Huxley, <cite title="Source Title">Brave New World</cite></footer>
</blockquote>

