{{> organisms-header }}

<div class="container-fluid px-0">
  <div class="row-fluid bg-faded py-3">
    <div class="container">
      {{> organisms-card-row }}
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header text-xs-center bg-primary text-white">
              <i class="material-icons">lock</i>
              <h3>PGP under the hood</h3>
            </div>
            <div class="card-block">
              <p class="card-text">MEG is not meant to be a replacement for PGP, instead MEG acts as an enabler to solve the current implementation problems with PGP.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header text-xs-center bg-primary text-white">
              <i class="material-icons">sentiment_very_satisfied</i>
              <h3>Open source</h3>
            </div>
            <div class="card-block">
              <p class="card-text">MEG is open source so that it can be scrutinized by the security community. If there isn't a client for your favorite email program, you can build one!</p>
            </div>
          </div>
        </div>
        {{> molecules-card-callout}}
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.row-fluid-->
  <div class="row-fluid bg-inverse text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-xs-center">
          <h3 class="display-4 font-weight-bold pt-2">End to end encryption</h3>
          {{> atoms-infographic }}
        </div><!--/.col-*-->
      </div><!--/.row-->
    </div><!--/.container--> 
  </div><!--/.row-fluid-->


  <div class="row-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pb-2">
          <h3 class="display-4 font-weight-bold pt-2">Fugiat nihil qui deleniti</h3>
          <p>Ipsa accusantium aut aut ut cupiditate et corporis aliquam. Quam odit ipsum eum labore et at. Porro pariatur nemo nihil earum aut. Doloremque ex pariatur ab ut vitae veritatis. Expedita non rerum libero est modi iste qui officiis.</p>
          <p>Velit quae optio quis autem sequi. Autem saepe et quae sed quo quia voluptate optio. Aliquam nemo sint omnis magni consequuntur voluptatem cumque. Voluptate nesciunt quas voluptates. Eligendi voluptas occaecati ut vel odit at deserunt.</p>
          <p>Assumenda incidunt aut ipsa eligendi voluptas ipsam. Voluptas placeat repudiandae quia ut ut voluptates vel nulla. Laudantium ut quod rerum occaecati velit. Explicabo natus exercitationem fuga in. Culpa est delectus sequi animi repellat voluptatibus labore.</p>
        </div><!--/.col-*-->
      </div><!--/.row-->
    </div><!--/.container--> 
  </div><!--/.row-fluid-->

  {{> molecules-footer}}
</div><!--</.container-fluid-->
