<ul class="sg-colors">
    <li>
		<span class="sg-swatch bg-primary"></span>
		<span class="sg-label">
			$brand-primary <br />
			<!--#66bb6a-->
      #3ea443
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-inverse"></span>
		<span class="sg-label">
			$brand-inverse <br />
			#00796b
		</span>
	</li>
</ul>
