<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-gray-dark"></span>
		<span class="sg-label">
			$gray-dark <br />
			#212121
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray"></span>
		<span class="sg-label">
			$gray <br />
			#757575
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-light"></span>
		<span class="sg-label">
			$gray-light <br />
			#c6c5c5
		</span>
	</li>
</ul>
