<nav class="navbar navbar-full navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">{{logo}}</a>
  <span class="navbar-text float-xs-left text-white">
    {{tagline}} 
  </span>
  <div class="float-xs-right">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <ul class="nav navbar-nav float-xs-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{nav.one}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{nav.two}} </a>
        </li>
      </ul>
    </div><!--/#navbarResponsive-->
  </div><!--/.float-xs-right-->
</nav>
