<div class="list-group">
  <a href="#about" class="list-group-item disabled">
    {{sidebar.one}}
  </a>
  <a href="#primary-components" class="list-group-item">{{sidebar.two}}</a>
  <a href="#phone-app" class="list-group-item">{{sidebar.three}}</a>
  <a href="#federated-servers" class="list-group-item">{{sidebar.four}}</a>
  <a href="#client-plugin" class="list-group-item">{{sidebar.five}}</a>
  <a href="#meg-encrypts" class="list-group-item">{{sidebar.six}}</a>
</div>
