<div class="col-sm-4">
  <div class="card card-inverse bg-inverse">
    <div class="card-header text-xs-center bg-inverse">
      <i class="fa {{card-callout.icon}}" aria-hidden="true"></i>
      <h3>{{card-callout.header}}</h3>
    </div>
    <div class="card-block bg-gray-dark">
      <p class="card-text">
        <a href="https://github.com/Argonne-National-Laboratory/MEGAndroid">
          Android app 
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a><br/>
        <a href="https://github.com/Argonne-National-Laboratory/megthunderbird">
          Thunderbird client
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a><br/>
        <a href="https://github.com/Argonne-National-Laboratory/meg-server">
          MEG Server
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a><br/><br/>
      </p>
    </div>
  </div>
</div>
