<footer class="bg-gray-dark text-white pt-2 pb-3">
  <div class="container">
    <p class="float-md-right text-md-right">MEG is released under <br/><a href="http://opensource.org/licenses/GPL-2.0">the GPL</a></p>
    <span>Contribute on GitHub <i class="fa fa-github fa-lg" aria-hidden="true"></i></span>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://github.com/Argonne-National-Laboratory/MEGAndroid">
        Android app</a>
      <li class="list-inline-item mx-1">
        <a href="https://github.com/Argonne-National-Laboratory/megthunderbird">
        Thunderbird client</a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/Argonne-National-Laboratory/meg-server">
        MEG Server</a> 
      </li>
    </ul>
  </div>
</footer>
