<div class="jumbotron jumbotron-fluid text-white">
  <div class="container">
    <h1 class="display-3">{{jumbotron.h1}}</h1>
    <h2 class="display-4">{{jumbotron.h2}}</h2>
    <hr class="my-2 bg-gray-light">
    <p class="lead">{{jumbotron.p1}}</p>
    <p class="lead text-xs-center">{{> atoms-large-primary-button }}</p>
  </div>
</div>
