<div class="row mb-1">
  {{> molecules-card}}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header text-xs-center bg-primary text-white">
        <i class="material-icons">settings_input_component</i>
        <h3>Client plugin</h3>
      </div>
      <div class="card-block">
        <p class="card-text">Type your email like you normally would, using a MEG
        plugin for your email software. The software communicates with your phone
        to encrypt your email.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header text-xs-center bg-primary text-white">
        <i class="material-icons">storage</i>
        <h3>Federated servers</h3>
      </div>
      <div class="card-block">
        <p class="card-text">Communication between your phone and email program is facilitaed
        by open source, federated servers. Your data is encrypted at all times.</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
  </div>
</div><!--/.row-->
